@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    padding-top: 0
  .package
    &__description
      font-size: 12px
  .footer
    &__input
      &-group
        flex-basis: 49%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
    height: auto
    &__iframe
      height: 100%
  .packages
    &-wrapper
      grid-template-rows: 500px 1fr 1fr
      grid-template-columns: 1fr 1fr
  .package
    &__features
      &--lg
        margin-bottom: 50px
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__text
        max-height: 140px
      &__button
        top: 50%
  .activities
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__information
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 3
    &__contact
      &-form
        grid-row: 3
        grid-column: span 3
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__button
      &-wrapper
        flex-direction: column-reverse
    &__info
      margin: 15px 0 0 0
    &__dialog
      padding: 33px 60px
      min-width: 400px
    &__form
      margin: auto
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &__search
      margin-left: 47px
    &-top
      padding-bottom: 31px
    &-menu
      max-width: 673px
      margin: auto
  .booking
    &__text
      min-width: 80px
    &__pricetag
      line-height: 1
    &__button
      max-width: 295px
      height: 45px
      padding: 13px
  .newsletter
    &__title
      margin-top: 11px
  .reviews__title
    margin-top: 28px
    margin-bottom: 50px
    font-size: 30px
    line-height: 38px
  .activities
    padding-top: 51px
    padding-bottom: 49px
    &__title
      margin-top: 0
  .card
    &__title
      max-width: 200px
      &--small
        max-width: 160px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr
      grid-row-gap: 46px
      grid-column-gap: 5px
    &__wrapper
      margin-bottom: 65px
    &__logo
      grid-column: 1/2
      &-image
        width: 99px
        height: 110px
    &__social
      &-network
        grid-column: 2/7
        margin-left: 83px
    &__contact
      &-details
        grid-column: span 6
      &-form
        grid-row: 4
        grid-column: span 5
        width: 90%
    &__title
      &--mb-3
        margin-top: 13px
        margin-bottom: 26px
      &--mt-0
        margin-top: -9px
        margin-bottom: 35px
    &__text
      margin-bottom: 22px
      line-height: 1.5
    &__icon
      &-wrapper
        padding-left: 9px
        min-width: 44px
    &__item
      &--mb-2
        margin-bottom: 19px
      &--mb-3
        margin-bottom: 4px
    &__legal
      &-info
        justify-content: flex-start
  .modal
    &__dialog
      padding: 33px 50px
@media (max-width: 748px)
  .search
    &__input
      width: auto
  .navbar
    &__search
      margin-left: auto
  .hotel
    &-right
      flex-direction: column
      justify-content: space-between
    &-slider
      height: 350px
    &__slider
      margin-bottom: 20px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
    &__iframe
      width: 100%
  .stars
    flex-basis: auto
    &--mr-15
      margin-right: 15px
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .packages
    &-wrapper
      grid-template-rows: 1fr 453px 453px
      gap: 20px
    &__title
      margin-bottom: 30px
  .package
    &--lg
      flex-direction: column
    &__photo
      max-width: 100%
      &--lg
        height: 250px
    &__image
      &--lg
        width: 100%
        height: 100%
    &__information
      padding-top: 10px
      padding-bottom: 20px
    &__name
      margin-bottom: 20px
    &__description
      margin-bottom: 20px
      font-size: 13px
      line-height: 1.2
    &__features
      margin-bottom: 20px
      &--lg
        display: flex
        justify-content: space-between
        margin-bottom: 30px
    &__parameter
      margin-bottom: 4px
    &__icon
      margin-right: 4px
    &__booking
      &--lg
        justify-content: flex-end
    &__old-price
      &--lg
        display: none
    &__price
      font-size: 18px
      line-height: 22px
      &--lg
        position: relative
        margin-right: 20px
        font-size: 24px
        &::after
          content: '$ 10,500'
          position: absolute
          top: 0px
          left: -80px
          font-style: normal
          font-weight: normal
          font-size: 16px
          line-height: 20px
          text-decoration-line: line-through
    &__button
      padding: 5px 10px
      &--lg
        padding: 10px 26px
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 0
    padding-bottom: 60px
  .card
    width: 48%
    height: 255px
  .footer
    &__logo
      width: 104px
      height: 120px
    &-wrapper
      margin-bottom: 56px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
    &__contact
      &-form
        grid-row: 4
        grid-column: span 4
    &__legal
      &-list
        min-width: 280px
      &-info
        justify-content: flex-start
@media (max-width: 576px)
  body
    padding-top: 73px
  .container,
  .newsletter-wrapper
    width: 88%
  .logo
    &__image
      width: 99px
      height: 14px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__search
      margin-bottom: 16px
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 73px
      right: 0
      left: 0
      bottom: 0
      overflow: auto
      &--visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 27px
      &__item
        margin-bottom: 18px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #ffffff
      cursor: pointer
      &:focus,
      &:active
        outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 10px
  .hotel
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
    &-info
      padding-bottom: 30px
    &-right
      min-height: 404px
  .packages
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 450px)
  .package
    &--lg
      grid-column-start: 1
      grid-column-end: 2
    &__information
      padding-top: 30px
      padding-left: 21px
      &--lg
        padding-top: 10px
        padding-left: 21px
    &__description
      display: none
    &__features
      display: flex
      justify-content: space-between
      margin-bottom: 27px
      &--lg
        margin-bottom: 25px
    &__booking
      justify-content: space-between
    &__old-price
      display: block
    &__price
      font-size: 24px
      line-height: 30px
      margin-right: 20px
      &--lg
        &::after
          content: ""
    &__button
      padding: 10px 26px
  .map
    height: 173px
    &__iframe
      height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 40px
    &-title
      margin-top: 0
      margin-bottom: 40px
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        max-height: 270px
  .activities
    &-wrapper
      flex-direction: column
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin: 20px 0
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
    &__information
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      justify-self: normal
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
    &__contact
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      flex-basis: 100%
    &__button
      &-wrapper
        align-items: flex-start
        flex-direction: column-reverse
    &__link
      white-space: nowrap
    &__bottom
      flex-direction: column
      justify-content: center
    &__info
      margin-bottom: 15px
    &__legal
      &-info
        margin-bottom: 15px
        justify-content: center
    &__payment
      top: 30px
      left: 0
  .modal
    &__dialog
      min-width: 350px
@media (max-width: 476px)
  .packages
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 480px)
  .package
    &__name
      margin-bottom: 20px
    &__features
      display: block
      margin-bottom: 16px
      &--lg
        margin-bottom: 15px
  .modal
    &__dialog
      min-width: 300px
      padding: 33px 40px
@media (max-height: 520px)
  .modal
    &__dialog
      height: 96vh
    &__button
      &-wrapper
        padding-bottom: 30px
