.packages
  padding: 40px 0 70px 0
  &__title
    margin-top: 0
    margin-bottom: 65px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-wrapper
    display: grid
    grid-template-rows: 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr
    gap: 30px
.package
  display: flex
  flex-direction: column
  border-radius: 8px
  overflow: hidden
  &--lg
    flex-direction: row
    grid-column-start: 1
    grid-column-end: 3
  &__photo
    position: relative
    max-width: 350px
    height: 250px
    &--lg
      height: 500px
  &__label
    position: absolute
    top: 26px
    left: 0
    padding: 8px 12px
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 15px
    color: $light
    border-radius: 0px 4px 4px 0px
    background-color: $primary
  &__image
    width: 100%
    height: 250px
    object-fit: cover
    &--lg
      width: 366px
      height: auto
  &__information
    padding: 30px 21px 25px 32px
    background-color: $dark
    color: $light
    border-radius: 0 0 8px 8px
    &--lg
      padding: 48px 21px 30px 43px
  &__rating
    margin-bottom: 5px
  &__name
    margin-top: 0
    margin-bottom: 23px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    &--lg
      margin-bottom: 27px
  &__description
    max-height: 157px
    margin-bottom: 34px
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    overflow: auto
  &__features
    margin-bottom: 24px
    &--lg
      margin-bottom: 35px
  &__parameter
    margin-bottom: 11px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
  &__icon
    margin-right: 14px
  &__old-price
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
  &__booking
    display: flex
    align-items: center
    justify-content: space-between
  &__price
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
  &__button
    max-width: 120px
    padding: 10px 26px
    font-family: Nunito
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: $light
    background-color: $primary
    border: none
    border-radius: 4px
    cursor: pointer
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    &:focus,
    &:active
      outline: none
